<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ message }}</title>
</head>
<body>
    <div id="app">
    <h1>Movies</h1>
    <p v-if="movies.length === 0">There are no characters.</p>
    <ul v-else>
        <li v-for="name in movies">{{name.name}}</li>
    </ul>
    <p><span v-for="(character, index) in movies">{{character.name}}
        {{index === movies.length - 1? '' : ", "}}
    </span></p>
</div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        const app = createApp({
          data() {
            return {
              message: 'Movies list characters',
              movies: [
                {name: 'Aang'},
                {name: 'Zuko'},
                {name: 'Toph'},
                {name: 'Katara'},
            ]
  
            }
          }
        });
        app.mount('#app');
  ;
      </script>
</body>
</html>